<div>



  <div class="gb-data-selection-accordion-header">
    <div class="gb-data-selection-accordion-sub-header-1">
      Define your MedCo Explore query
    </div>
    <div class="gb-data-selection-accordion-sub-header-2">
      <div style="display: flex;">
        <span style="display: flex; align-items: center;">
          <span class="gb-data-selection-accordion-sub-header-3 float-left">
            <span class="gb-data-selection-emphasis-text">{{globalCount | async}} subjects</span>
          </span>
          <span id="save-box" *ngIf="!userHasExploreStatsRole()" style="margin-left: 2em;" >
            <input [(ngModel)]="cohortName" pInputText (keydown)="saveIfEnter($event)" placeholder="Cohort name"
              (drop)="preventDefault($event)" />
            <span>&nbsp;</span>
            <button
              class="btn btn-outline-primary btn-sm gb-data-selection-overview-panel-btn {{lastSuccessfulSet ?  '' : 'gb-explore-waiting-cohort'}}"
              type="button" [disabled]="!lastSuccessfulSet" (click)="save()">

              <span>Save</span>

            </button>
          </span>
        </span>
        <span style="display: flex; align-items: center; margin-left: 2em;">

          <!-- display of explore query type -->
          <span *ngIf="queryType; else noAuthorization" class="float-right gb-data-selection-text">
            Allowed Result Type: <b>{{queryType.name}}</b>
          </span>
          <ng-template #noAuthorization>
            <span class="float-right">No authorization for explore query.</span>
          </ng-template>

          <span>
            <!-- disabled button during query -->
            <button *ngIf="!isUpdating && hasConstraint; else disabledButton" type="button" (click)="execQuery($event)"
              class="btn btn-outline-primary btn-sm gb-data-selection-update-btn
              {{isDirty? 'gb-explore-query-btn-dirty' : ''}}">
              Run
            </button>
            <ng-template #disabledButton>
              <button type="button" disabled class="btn btn-outline-primary btn-sm gb-data-selection-update-btn">
                Run
              </button>
            </ng-template>

            <i *ngIf="isUpdating" class="fa fa-circle-o-notch fa-spin"
              style="padding-left: .5em; padding-right: .5em;"></i>
          </span>
        </span>
      </div>

    </div>
  </div>

  <div class="input-label-wrapper" style="font-size: small;">
    <div>
      <label for="minObservation">
        Smallest used observation:
      </label>
    </div>
    <input id="minObservation" type="number" class="col-sm-2" value="0" placeholder="0" [(ngModel)]="minObservation"
      alt="The smallest observation that will be used in the histogram ">
  </div>


  <div class="input-label-wrapper" style="margin-bottom: 3em; font-size: small;" >
    <div>
      <label for="bucketSize">
        Bucket size:
      </label>
    </div>
    <input id="bucketSize" type="number"  min="0" class="col-sm-2" value="1" placeholder="1" [(ngModel)]="bucketSize"
      alt="The width of each interval of the histogram">
  </div>

  <div style="margin-top: 1em;">
    <gb-selection [operationType]="OperationType.EXPLORE"></gb-selection>
  </div>




</div>